@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;

}

img {
  max-width: 100%; /* Para que las imágenes nunca excedan el contenedor */
  height: auto;
}


body {
 
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex ;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url('./components/Assets/principal.jpg')no-repeat;
  background-size: cover;
  background-position: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Se adapta a diferentes tamaños de pantalla */
  gap: 20px;
}

